.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}
.swiper-pagination-bullet {
    background: #4f46e5;
}

.swap {
    position: relative;
    display: inline-grid;
    -webkit-user-select: none;
    user-select: none;
    place-content: center;
    cursor: pointer
}
.swap > * {
    grid-column-start: 1;
    grid-row-start: 1;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-property: transform, opacity
}
.swap input {
    appearance: none
}
.swap .swap-on,
.swap .swap-indeterminate,
.swap input:indeterminate ~ .swap-on {
    opacity: 0
}
.swap input:checked ~ .swap-off,
.swap-active .swap-off,
.swap input:indeterminate ~ .swap-off {
    opacity: 0
}
.swap input:checked ~ .swap-on,
.swap-active .swap-on,
.swap input:indeterminate ~ .swap-indeterminate {
    opacity: 1
}

:root {
    --duration: 3s;
    --easing: linear;
    --delay: 0s;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --rounded-btn: 0.5rem;
    --border-btn: 1px;
}

@keyframes shine {
    20%,
    100% {
        transform: translateX(150%);
    }
}

.tailwind-style {
    position: relative;
    overflow: hidden;
    mask-image: url('img/hexagon.svg');
    -webkit-mask-image: url('img/hexagon.svg');
}

.shine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 75%);
    transform: skewX(-45deg) translateX(-100%);
    animation: var(--duration) var(--easing) var(--delay) infinite forwards shine;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown>*:not(summary):focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.dropdown .dropdown-content {
    position: absolute
}

.dropdown:is(:not(details)) .dropdown-content {
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-timing-function: cubic-bezier(0,0,0.2,1);
    transition-duration: 0.2s
}

.dropdown-end .dropdown-content {
    inset-inline-end: 0
}

.dropdown-left .dropdown-content {
    bottom: auto;
    inset-inline-end: 100%;
    top: 0;
    transform-origin: right
}

.dropdown-right .dropdown-content {
    bottom: auto;
    inset-inline-start: 100%;
    top: 0;
    transform-origin: left
}

.dropdown-bottom .dropdown-content {
    bottom: auto;
    top: 100%;
    transform-origin: top
}

.dropdown-top .dropdown-content {
    bottom: 100%;
    top: auto;
    transform-origin: bottom
}

.dropdown-end.dropdown-right .dropdown-content,
.dropdown-end.dropdown-left .dropdown-content {
    bottom: 0;
    top: auto
}

.dropdown.dropdown-open .dropdown-content,
.dropdown:not(.dropdown-hover):focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
    visibility: visible;
    opacity: 1
}

.btn {
    display: inline-flex;
    height: 3rem;
    min-height: 3rem;
    flex-shrink: 0;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded-btn, 0.5rem);
    border-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1em;
    gap: 0.5rem;
    font-weight: 600;
    text-decoration-line: none;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0,0,0.2,1);
    border-width: var(--border-btn, 1px);
    transition-property: color, background-color, border-color, opacity, box-shadow, transform;
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-border-opacity: 1
}

.btn-ghost {
    border-width: 1px;
    border-color: transparent;
    background-color: transparent;
    color: currentColor;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    outline-color: currentColor
}

.btn-active {
    background-color: #384152;
    color: white;
}

.btn-active:hover {
    background-color: #384152;
}

.btn-active span {
    border-color: #ddd;
}